.topic-heading
{
	padding: 10px;
    background: #a24dff;
    display: block;
    color: white;
    font-size: 18px;
}

.topic-content
{
	background: #e5ddf7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.topic-item
{
	font-weight: 400;
    font-size: 15px;
    color: #544f4f;
    margin-left: 25px;
}